

.first_heading{
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    padding-bottom: 170px;
    width: 100%;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    
    

}    





video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
    z-index: -150;

}

